body {
	background-color: #17171c;
}

h1 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
}
button {
	font-size: 18px;
	padding: 12px 24px;
	background-color: #8932ed;
	color: white;
	border: 1px solid #0056b3;
	border-radius: 6px;
}

button:hover{
	background-color:red;
}
